body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #28a745;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }


.sidebar-sticky ul,
.sidebar-sticky li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.sidebar-sticky li.sub-menu {
  margin-top: 5px;
  margin-left: 45px;
  margin-bottom: 10px;
}

.sidebar-sticky li a {
  font-size: 15px;
  line-height: 25px;
}

.sidebar-sticky li a i {
  margin-right: 8px;
}

.bg-green {
  background: #28a745;
}

.btn-outline-secondary:hover {
  background-color: #28a745 !important;
  color: #fff !important;
}

.btn-outline-secondary {
  color: #28a745 !important;
  border-color: #28a745;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
}

#filter, #sorting {
  border-color: #28a745;
  color: #28a745;
}

div.filtering {
  position: relative;
  float: right;
}

.nav-link-sub, .nav-link-sub:hover {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}

span.notif {
  background-color: #28a745;
  font-size: 12px;
  padding: 5px;
  margin-left: 5px;
  color: #fff;
  float: right;
}